nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background: #fff;
}
.mob-logo {
  transform: scale(0.3);
  width: 100%;
}

.mob-hidden {
  display: flex;
}
@media (max-width: 768px) {
  .mob-hidden {
    display: none !important;
  }
  .mob-logo {
    width: fit-content;
  }
}
