.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
}

.button {
  font-size: 12px;
  border: 3px solid white;
  background-color: white;
  border-radius: 15px;
  display: grid;
  place-items: center;
  width: 5rem;
  height: 5rem;
  box-shadow: var(--shadow-1);
}

.button > h2 {
  color: var(--black-50);
}

@media (min-width: 768px) {
  .button {
    display: grid;
    place-items: center;
    width: 10rem;
    height: 10rem;
  }
  .button > h2 {
    font-size: 2rem;
    margin-top: 0;
  }
}
