.hero-card {
  background-color: var(--secondary-tint-1);
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  padding-left: 1rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.hero-card > h2 {
  color: var(--white);
  margin: 0;
  margin-top: 2rem;
}

.rating {
  color: var(--secondary-tint-3);
  display: flex;
  height: 30px;
  margin-top: 2rem;
  align-items: center;
}
.star {
  height: 20px;
  width: 20px;
  margin-right: 1rem;
  transform: scale(1.5);
}
.rating > p {
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
}
.hidden {
  display: block;
}
.grass {
  height: 20%;
  border-radius: 0 0 1rem 1rem;
  background-color: #5eb35c;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.tree {
  position: absolute;
  right: 30%;
  bottom: 20%;
}
.sun {
  position: absolute;
  right: -3rem;
  top: -1rem;
  transform: scale(0.5);
}

.car {
  position: absolute;
  right: 10%;
  bottom: 3%;
}
.hero-card > h2 {
  margin-top: 0;
}

@media (min-width: 768px) and (max-width: 1080px) {
  .car {
    position: absolute;
    right: 1%;
    bottom: 3%;
  }
}

@media (max-width: 768px) {
  h2 {
    margin-top: 0;
  }
  .hero-card {
    height: 6rem;
    margin-top: 2rem;
    border-radius: 0.7rem;
    justify-content: space-evenly;
  }
  .star {
    height: 20px;
    width: 20px;
    margin-right: 0.5rem;
    transform: scale(1);
  }
  .rating {
    margin-top: 0;
  }
  .rating > p {
    margin: 0;
    font-weight: 600;
    font-size: inherit;
  }
  .hidden {
    display: none;
  }
}
