.large-analytics-card {
  width: 100%;
  height: 10rem;
  border-radius: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background: var(--white);
  box-shadow: var(--shadow-1);
}

.values {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.analytics-title {
  color: var(--black);
  display: flex;
  margin: 2rem auto;
}

@media (min-width: 768px) {
  .large-analytics-card {
    height: 15rem;
  }
  .large-analytics-card > .flex {
    max-width: 50%;
  }
}
@media (min-width: 1024px) {
  .large-analytics-card {
    margin: 0 auto;
    max-width: 50%;
  }
  .large-analytics-card > .flex {
    max-width: 100%;
  }
}
