.tip-card {
  color: var(--secondary-tint-1);
  background: var(--secondary-tint-5);
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.flex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.help {
  width: 24px;
  height: 24px;
  fill: var(--secondary-tint-1);
}

@media (min-width: 768px) {
  .tip-card {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .tip-card {
    margin: 1rem 0;
  }
}
