.card {
  border-radius: 15px;
  margin-bottom: 2rem;
  padding-bottom: 0%;
  background: var(--white);
  box-shadow: var(--shadow-1);
}

.card > h2 {
  padding-top: 1rem;
  padding-left: 1rem;
  margin: 0;
  color: var(--black);
}

.card > h3 {
  font-weight: normal;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin: 0;
  color: var(--black-50);
}

@media (min-width: 1024px) {
  .card {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
