.booking-today {
  margin-top: 2rem;
  text-align: center;
}

.card-section {
  display: flex;
  justify-content: space-between;
}
.booking-today > h2 {
  color: var(--black-85);
  margin: 2rem auto;
}

.booking-today > p {
  text-align: center;
  font-weight: 600;
  margin-top: 2rem;
}

@media (min-width: 1024px) and (max-width: 2000px) {
  .booking-today {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
}
