.booking-today {
  margin-top: 2rem;
  text-align: center;
}

.card-section {
  display: flex;
  justify-content: space-between;
}
.booking-today > h2 {
  color: var(--black-85);
}

.booking-today > p {
  text-align: center;
  font-weight: 600;
  margin-top: 2rem;
}
