.react-calendar__month-view__days__day--neighboringMonth{
    color: var(--black-20);
}

.react-calendar__navigation .react-calendar__navigation__next2-button {
    display: none;
  }

.react-calendar__navigation .react-calendar__navigation__prev2-button {
    display: none;
  }
  .react-calendar__navigation__next-button {
    font-size: 3rem;
    height: auto;
    padding-right: 1.2rem;
    background-color: var(--white);
    border-radius: 8px;
}
.react-calendar__navigation__prev-button {
    height: auto;
    font-size: 3rem;
    padding-left: 1.2rem;
    background-color: var(--white);
    border-radius: 8px;
}
.react-calendar__navigation__label{
    height: auto;
    transform: translateY(10%);
    background-color: var(--white);
}
.react-calendar__navigation__label__labelText--from{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--black-85);
}

.react-calendar__navigation{
    display: flex
}

.react-calendar__month-view__weekdays__weekday{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: var(--black-85);
    background-color: var(--white);
}

button{
    padding: 0px;
}

.text-center{
    text-align: center;
}

.text-center1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: var(--white);
    border-radius: 8px;
    box-shadow: var(--shadow-1);
    font-weight: 600;
    font-size: 18px;
}

button.react-calendar__tile--active {
    background-color: var(--secondary) !important;
    color: var(--white);
    border-radius: 100%;
  }

  .text-center1 .day {
    text-align: center;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 1.9rem;
    border-radius: 50%;
    background-color: var(--secondary);
    color: var(--white);
    margin-right: 25px;
    font-size: 0.9rem;
  }
  

.text-center1 .month{
    color: var(--black-85);
    font-weight: 600;
    font-size: 18px;
    opacity: 0.65;
}

.special-day{
    border-radius: 100%;
    border: 2px solid var(--secondary);
}



.react-calendar__month-view__days{
    background-color:var(--white);
    border-radius: 8px;
}

.react-calendar__month-view__days button{
    flex: 0 0 13% !important;
    margin: 3.3px 0 3.3px 3.3px;
    background-color: var(--white);
}

.react-calendar{
    background-color: var(--white);
    box-shadow: var(--shadow-1);
    border-radius: 8px;
}

.calendar-container{
    margin-bottom: 20px;
}

@media (min-width: 576px){
    .react-calendar__month-view__days button{
        margin: 3.3px 0 3.3px 13px;
    }

    .react-calendar__month-view__days button{
        flex: 0 0 10.5% !important;
    }

@media (min-width: 768px){
    .react-calendar__month-view__days button{
        margin: 3.3px 0 3.3px 22.5px;
    }

    .react-calendar__month-view__days button{
        flex: 0 0 9% !important;
    }
}

@media (min-width: 1024px){
    .react-calendar__month-view__days button{
        margin: 3.3px;
        margin-left: 39px;
        margin-right: 39px;
    }

    .react-calendar__month-view__days button{
        flex: 0 0 6.3% !important;
    }
}    

}